<div class="infobox">
          <div class="inner">
            <div class="header"><h4><%= map.title %></h4></div>
            <p><%= image_tag map.image %><%= map.description %></p>
            <div class="footer"></div>
          </div>
</div>