<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <p><%= notice %></p>
            <h2>イベントを編集する</h2>

<%= render 'form' %>

<%= link_to '登録したイベントを見る', @map %> |
<%= link_to '戻る', maps_path %>

  </div>
</div>