// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box3 {
padding: 0.5em 1em;
margin: 2em 0;
color: #2c2c2f;
background: moccasin;/*背景色*/ 
width: 70%;
margin: auto;
}
.box3 .box3-title{
font-weight: bold;
}

.box3 p {
margin: 0;
padding: 0;
text-align: left;
} 

.infobox {
    font-family: 'Arial', sans-serif;
    display: block;
    width: 300px;
    position: relative;
    background: white;
    opacity: 0.9;  
}
.infobox .inner .header{
    background-color: darkorange;
    padding: 5px;
    color:#fff;
}
.infobox .inner .container {
    padding: 10px;
    font-size: 12px;
}
.infobox .inner .footer {
    text-align: right;
    padding: 10px;
}
.infobox .inner {
  border-bottom: 5px solid gold;
}
.infobox .inner .footer button {
    padding: 5px 20px;
    background-color: moccasin;
    border: none;
    color:#fff;
    font-size: 14px;
}
.infobox .inner .footer button:hover {
    background-color: chocolate;
}
.infobox img {
    z-index: 1
}
.infobox p {
    margin: 0;
    padding: 0;
    text-align: left;
}